<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,700&family=Roboto:wght@100;400;700&family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Swift solutions</title>
</head>
<body>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
    <header>
        <nav>
            <img src="../image/svg.svg" alt="imagen-logo" class="logoEmpresa">
            <ul>
                <li><a href="../index.html" class="linksNavegacion">HOME</a></li>
                <li><a href="precios.html" class="linksNavegacion">PRECIOS</a></li>
                <li><a href="integrantes.html" class="linksNavegacion">INTEGRANTES</a></li>
                <li><a href="contacto.html" class="linksNavegacion">CONTACTOS</a></li>
                <li><a href="testimonios.html" class="linksNavegacion">TESTIMONIOS</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main">
            <section class="contactoSection">
                <div class="hS">
                    <h1>Coloca tus datos aqui</h1>
                </div>  
                <div>
                    <form action="submit">
                        <div class="gridContainerCon">
                            <div class="primero">
                                <label for="nombre">Nombre</label>
                                    <input type="text" name="nombre" id="nombre" placeholder="Escribe tu nombre">
                            </div>
                            <div class="segundo">
                                <label for="apellido">Apellido</label>
                                    <input type="text" name="apellido" id="apellido" placeholder="Escribe tu apellido">
                            </div>
                            <div class="tercero">
                                <label for="email">Email</label>
                                    <input type="email" name="email" id="email" placeholder="Escribe tu Email">
                            </div>
                            <div class="cuarto">
                                <label for="numero">Numero de Contacto</label>
                                    <input type="tel" name="numero" id="numero" placeholder="Escribe tu numero de contacto">
                            </div>
                            <div class="quinto">
                                <label for="descripcion" >Descripcion de tu proyecto</label>
                                    <textarea name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Describe tu proyecto y las funciones que quieres que tenga"></textarea>
                            </div>
                            <div class="sexto">
                                <input type="submit" name="submit" id="submit" value="Enviar">
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <section>
            <div>
                <img src="../image/svg.svg" alt="imagen-logo" class="logoEmpresa filtro">
            </div>
            <div>
                <span> &#169; 2022 Pedro Comas, Todos los derechos reservados.</span>
            </div>
        </section>
    </footer>
</body>
</html>