<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Html, css, Web deveploment, Swift solutions, desarrolladores web, integrantes, integrantes Swift solutions">
    <meta name="description" content="Swift solutions es una empresa de desarrolladora web que se dedica a  ofrecerle soluciones a pequeñas pymes">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,700&family=Roboto:wght@100;400;700&family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Swift solutions - Integrantes</title>
</head>
<body>
    <header>
        <nav class="navBar">
            <img src="../image/svg.svg" alt="imagen-logo" class="logoEmpresa">
            <ul class="navMenu">
                <li class="navItem"><a href="../index.html" class="linksNavegacion">HOME</a></li>
                <li class="navItem"><a href="precios.html" class="linksNavegacion">PRECIOS</a></li>
                <li class="navItem"><a href="integrantes.html" class="linksNavegacion">INTEGRANTES</a></li>
                <li class="navItem"><a href="contacto.html" class="linksNavegacion">CONTACTOS</a></li>
                <li class="navItem"><a href="testimonios.html" class="linksNavegacion">TESTIMONIOS</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <section id="backgroundPrincipalPrecios">
    </section>
    <main>
        <section class="main">
            <section class="integrantesSection">
                <div class="hS">
                    <h1>Swift solutions esta compuesto por un equipo completo de profecionales</h1>
                </div>
                <p>Los integrantes de Swift solutions son profesionales de todas las áreas IT con años de experiencia como freelance o desarrolladores en diferentes empresas del sector. A continuación, tenemos una lista de ellos.</p>
                <div class="gridContainer">
                    <img src="../image/Imagenes integrantes/090115.webp" alt="Imagen Carme Toledo" class="integranteImg">
                    <div class="integranteInfo">
                        <h3>Carme Toledo</h3>
                        <span>Desarrolladora Front-End</span>
                        <p>Carme Toledo es una desarrolladora frond-end, con conocimientos de HTML-CSS, Javascript, espress, React-React Native y Node.js. Posee mas de 5 años de experiencia desempeñados como desarrolladora frond-end en empresas como XXXX, XXXX, XXXX y XXXX. 

                        Ella decidió hacer parte de la Swift solutions por que les gusta la visión y los objetivos para el futuro que se ha planteado nuestra empresa. A continuación, las redes donde puede encontrar a Carme Toledo.    
                        </p>
                    </div>
                    <div class="integranteSocials">
                        <a href="https://mail.google.com/mail" target="_blank"><img src="../image/gmail.png" alt="gmail" class="redesSociales"></a>
                        <a href="https://github.com/Kushian01100111" target="_blank"><img src="../image/GitHub-Mark-120px-plus.png" alt="github" class="redesSociales"></a>
                        <a href="https://www.instagram.com/" target="_blank"><img src="../image/instagram.png" alt="instagram" class="redesSociales"></a>
                    </div>
                </div>
                <div class="gridContainer">
                    <img src="../image/Imagenes integrantes/090001.webp" alt="Imagen Jose-Maria Espino" class="integranteImg">
                    <div class="integranteInfo">
                        <h3>Jose-Maria Espino</h3>
                        <span>Desarrollador Back-End</span>
                        <p>Jose-Maria Espino desarrollador back-end, con conocimientos de PHP, Python, JavaScript, Node.JS y SQL. Posee más de 5 años de experiencia desempeñados como desarrollador back-end en empresas como XXXX, XXXX, XXXX y XXXX.

                        El decidió hacer parte de la Swift solutions por que les gusta la visión y los objetivos para el futuro que se ha planteado nuestra empresa. A continuación, las redes donde puede encontrar a Jose-Maria.    
                        </p>
                    </div>
                    <div class="integranteSocials">
                        <a href="https://mail.google.com/mail" target="_blank"><img src="../image/gmail.png" alt="gmail" class="redesSociales"></a>
                        <a href="https://github.com/Kushian01100111" target="_blank"><img src="../image/GitHub-Mark-120px-plus.png" alt="github" class="redesSociales"></a>
                        <a href="https://twitter.com/home?lang=es" target="_blank"><img src="../image/gorjeo.png" alt="twiter" class="redesSociales"></a>
                        <a href="https://www.instagram.com/" target="_blank"><img src="../image/instagram.png" alt="instagram" class="redesSociales"></a>
                    </div>
                </div>
                <div class="gridContainer">
                    <img src="../image/Imagenes integrantes/090012.webp" alt="Imagen Julian Freire" class="integranteImg">
                    <div class="integranteInfo">
                        <h3>Julian Freire</h3>
                        <span>Diseñador UX/UI</span>
                        <p>Julian Freire es un diseñador grafico, con conocimientos de en diseño UX/UI, Posee más de 15 años de experiencia desempeñados como un diseñador grafico en empresas como XXXX, XXXX, XXXX y XXXX.

                        El decidió hacer parte de la Swift solutions por que les gusta la visión y los objetivos para el futuro que se ha planteado nuestra empresa. A continuación, las redes donde puede encontrar a Julian Freire.    
                        </p>
                    </div>
                    <div class="integranteSocials">
                        <a href="https://www.instagram.com/" target="_blank"><img src="../image/instagram.png" alt="instagram" class="redesSociales"></a>
                        <a href="https://github.com/Kushian01100111" target="_blank"><img src="../image/GitHub-Mark-120px-plus.png" alt="github" class="redesSociales"></a>
                        <a href="https://twitter.com/home?lang=es" target="_blank"><img src="../image/gorjeo.png" alt="twiter" class="redesSociales"></a>
                    </div>
                </div>
                <div class="gridContainer">
                    <img src="../image/Imagenes integrantes/090242.webp" alt="Imagne Melania Romera" class="integranteImg">
                    <div class="integranteInfo">
                        <h3>Melania Romera</h3>
                        <span>Product Manager-Scrum marter</span>
                        <p>
                        Melania Romera es una experta en la identificación de las necesidades de los consumidores y una líder capaz fe mantener enfocado a todo el equipo en los objetivos de cada proyecto, gracias a sus 6 años de experticia como Product manager y scrum master.
                        Ella decidió hacer parte de la Swift solutions por que les gusta la visión y los objetivos para el futuro que se ha planteado nuestra empresa. A continuación, las redes donde puede encontrar a Melania Romera.
                        </p>
                    </div>
                    <div class="integranteSocials">
                        <a href="https://web.whatsapp.com/" target="_blank"><img src="../image/whatsapp.png" alt="whatssapp" class="redesSociales"></a>
                        <a href="https://mail.google.com/mail" target="_blank"><img src="../image/gmail.png" alt="gmail" class="redesSociales"></a>
                        <a href="https://twitter.com/home?lang=es" target="_blank"><img src="../image/gorjeo.png" alt="twiter" class="redesSociales"></a>
                        <a href="https://www.instagram.com/" target="_blank"><img src="../image/instagram.png" alt="instagram" class="redesSociales"></a>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <section>
            <div>
                <img src="../image/svg.svg" alt="imagenLogo" class="logoEmpresa filtro">
            </div>
            <div>
                
            </div>
            <div>
                <span> &#169; 2022 Pedro Comas<span class="footerHidden">,Todos los derechos reservados.</span></span>
            </div>
        </section>
    </footer>
    <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>