<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,700&family=Roboto:wght@100;400;700&family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <title>Swift solutions</title>
</head>
<body>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
    <header>
        <nav>
            <img src="../image/svg.svg" alt="imagen-logo" class="logoEmpresa">
            <ul>
                <li><a href="../index.html" class="linksNavegacion">HOME</a></li>
                <li><a href="precios.html" class="linksNavegacion">PRECIOS</a></li>
                <li><a href="integrantes.html" class="linksNavegacion">INTEGRANTES</a></li>
                <li><a href="contacto.html" class="linksNavegacion">CONTACTOS</a></li>
                <li><a href="testimonios.html" class="linksNavegacion">TESTIMONIOS</a></li>
            </ul>
        </nav>
    </header>
    </header>
    <section id="backgroundPrincipalPrecios">
    </section>
    <main>
        <section class="integrantesSection">
            <h1>Swift solutions esta compuesto por un equipo completo de profecionales</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sequi, ducimus pariatur rerum aperiam deleniti id, nostrum eum porro laborum, repellat labore libero dolorem illum fugit inventore. Facilis, quisquam atque.</p>
            <div class="gridContainer">
                <img src="../image/Imagenes integrantes/090115.jpg" alt="Imagne Carme" class="integranteImg">
                <div class="integranteInfo">
                    <h3>Carme Toledo</h3>
                    <span>Desarrolladora Front-End</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, magni nam blanditiis culpa ipsum quas, dignissimos non sequi soluta minima sint ab autem a vel expedita. Maxime modi dicta ad!.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam explicabo beatae omnis voluptatibus sint? Incidunt officiis suscipit quod odit libero cumque, illo nemo voluptas repudiandae unde neque, eaque hic vel?.
                    </p>
                </div>
                <div class="integranteSocials">
                    <a href="https://mail.google.com/mail" target="_blank"><img src="../image/gmail.png" alt="gmail" class="redesSociales"></a>
                    <a href="https://github.com/Kushian01100111" target="_blank"><img src="../image/GitHub-Mark-Light-120px-plus.png" alt="github" class="redesSociales"></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="../image/instagram.png" alt="instagram" class="redesSociales"></a>
                </div>
            </div>
            <div class="gridContainer">
                <img src="../image/Imagenes integrantes/090001.jpg" alt="Imagne Carme" class="integranteImg">
                <div class="integranteInfo">
                    <h3>Jose-Maria Espino</h3>
                    <span>Desarrollador Back-End</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, magni nam blanditiis culpa ipsum quas, dignissimos non sequi soluta minima sint ab autem a vel expedita. Maxime modi dicta ad!.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam explicabo beatae omnis voluptatibus sint? Incidunt officiis suscipit quod odit libero cumque, illo nemo voluptas repudiandae unde neque, eaque hic vel?.
                    </p>
                </div>
                <div class="integranteSocials">
                    <a href="https://mail.google.com/mail" target="_blank"><img src="../image/gmail.png" alt="gmail" class="redesSociales"></a>
                    <a href="https://github.com/Kushian01100111" target="_blank"><img src="../image/GitHub-Mark-Light-120px-plus.png" alt="github" class="redesSociales"></a>
                    <a href="https://twitter.com/home?lang=es" target="_blank"><img src="../image/gorjeo.png" alt="twiter" class="redesSociales"></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="../image/instagram.png" alt="instagram" class="redesSociales"></a>
                </div>
            </div>
            <div class="gridContainer">
                <img src="../image/Imagenes integrantes/090012.jpg" alt="Imagne Carme" class="integranteImg">
                <div class="integranteInfo">
                    <h3>Julian Freire</h3>
                    <span>Diseñador UX/UI</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, magni nam blanditiis culpa ipsum quas, dignissimos non sequi soluta minima sint ab autem a vel expedita. Maxime modi dicta ad!.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam explicabo beatae omnis voluptatibus sint? Incidunt officiis suscipit quod odit libero cumque, illo nemo voluptas repudiandae unde neque, eaque hic vel?.
                    </p>
                </div>
                <div class="integranteSocials">
                    <a href="https://www.instagram.com/" target="_blank"><img src="../image/instagram.png" alt="instagram" class="redesSociales"></a>
                    <a href="https://mail.google.com/mail" target="_blank"><img src="../image/gmail.png" alt="gmail" class="redesSociales"></a>
                    <a href="https://github.com/Kushian01100111" target="_blank"><img src="../image/GitHub-Mark-Light-120px-plus.png" alt="github" class="redesSociales"></a>
                    <a href="https://twitter.com/home?lang=es" target="_blank"><img src="../image/gorjeo.png" alt="twiter" class="redesSociales"></a>
                    <a href="https://web.whatsapp.com/" target="_blank"><img src="../image/whatsapp.png" alt="whatssapp" class="redesSociales"></a>
                </div>
            </div>
            <div class="gridContainer">
                <img src="../image/Imagenes integrantes/090242.jpg" alt="Imagne Carme" class="integranteImg">
                <div class="integranteInfo">
                    <h3>Melania Romera</h3>
                    <span>Product Manager-Scrum marter</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, magni nam blanditiis culpa ipsum quas, dignissimos non sequi soluta minima sint ab autem a vel expedita. Maxime modi dicta ad!.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam explicabo beatae omnis voluptatibus sint? Incidunt officiis suscipit quod odit libero cumque, illo nemo voluptas repudiandae unde neque, eaque hic vel?.
                    </p>
                </div>
                <div class="integranteSocials">
                    <a href="https://web.whatsapp.com/" target="_blank"><img src="../image/whatsapp.png" alt="whatssapp" class="redesSociales"></a>
                    <a href="https://mail.google.com/mail" target="_blank"><img src="../image/gmail.png" alt="gmail" class="redesSociales"></a>
                    <a href="https://twitter.com/home?lang=es" target="_blank"><img src="../image/gorjeo.png" alt="twiter" class="redesSociales"></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="../image/instagram.png" alt="instagram" class="redesSociales"></a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <section>
            <img src="/image/svg.svg" alt="imagen-logo" class="logoEmpresa filtro">
            <div class="container">
                <div>
                    <span>Redes Sociales</span>
                </div>
                <div>
                    <a href="https://www.instagram.com/" target="_blank"><img src="../image/instagram.png" alt="instagram" class="redesSociales"></a>
                    <a href="https://web.whatsapp.com/" target="_blank"><img src="../image/whatsapp.png" alt="whatssapp" class="redesSociales"></a>
                    <a href="https://www.facebook.com/" target="_blank"><img src="../image/facebook.png" alt="facebook" class="redesSociales"></a>
                    <a href="https://twitter.com/home?lang=es" target="_blank"><img src="../image/gorjeo.png" alt="twiter" class="redesSociales"></a>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>