<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Html, css, Web deveploment, Swift solutions">
    <meta name="description" content="Swift solutions es una empresa de desarrolladora web que se dedica a  ofrecerle soluciones a pequeñas pymes">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,700&family=Roboto:wght@100;400;700&family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Swift solutions - Precios</title>
</head>
<body>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
    <header>
        <nav>
            <img src="../image/svg.svg" alt="imagen-logo" class="logoEmpresa">
            <ul>
                <li><a href="../index.html" class="linksNavegacion">HOME</a></li>
                <li><a href="precios.html" class="linksNavegacion">PRECIOS</a></li>
                <li><a href="integrantes.html" class="linksNavegacion">INTEGRANTES</a></li>
                <li><a href="contacto.html" class="linksNavegacion">CONTACTOS</a></li>
                <li><a href="testimonios.html" class="linksNavegacion">TESTIMONIOS</a></li>
            </ul>
        </nav>
    </header>
    <section id="backgroundPrincipalPrecios">
        <!-- esta section contiene el background principal que se puede observar en figma, se aplicara al proyecto con css en el futuro -->
    </section>
    <main>
        <section class="main">
            <section class="preciosSection">
                <div class="hS">
                    <h1>¿Cuanto Cuestan Nuestros Servicios?</h1>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio molestias sed, necessitatibus provident quaerat excepturi nisi magnam assumenda culpa ullam reiciendis quis. Ab dolor placeat obcaecati cumque quo, assumenda enim?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit doloremque rerum deserunt adipisci ducimus sapiente possimus, eligendi aliquid laboriosam deleniti nesciunt, illum, veniam at tempore cum iste quaerat repellat eaque?
                
                Veritatis soluta hic suscipit non ea alias voluptas autem adipisci officiis modi, ex odio atque vel facilis, blanditiis reprehenderit optio laboriosam distinctio!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ea tempore autem ab id fugiat consequuntur nesciunt porro dolorum suscipit veniam laborum cumque magnam, recusandae perspiciatis asperiores aperiam impedit! Libero.
                </p>
                <div class="gridPreciosContainer">
                    <div class="gridPrecios">
                        <div class="head bordes">Precios</div>
                        <div class="pagina1 bordes">Pagina personal</div>
                        <div class="precio1 bordes">$$$$$$$</div>

                        <div class="pagina2 bordes">Pagina empresa</div>
                        <div class="precio2 bordes">$$$$$$$</div>

                        <div class="pagina3 bordes">E-Commerce</div>
                        <div class="precio3 bordes">$$$$$$$</div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <section>
            <div>
                <img src="../image/svg.svg" alt="imagen-logo" class="logoEmpresa filtro">
            </div>
            <div>
                <span> &#169; 2022 Pedro Comas, Todos los derechos reservados.</span>
            </div>
        </section>
    </footer>
</body>
</html>