<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Html, css, Web deveploment, Swift solutions, costo de hace un pagina, precios Swift solutions">
    <meta name="description" content="Swift solutions es una empresa de desarrolladora web que se dedica a  ofrecerle soluciones a pequeñas pymes">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,700&family=Roboto:wght@100;400;700&family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
    <title>Swift solutions - Precios</title>
</head>
<body>
    <header>
        <nav class="navBar">
            <a href="../index.html"><img src="../image/svg.svg" alt="imagen-logo" class="logoEmpresa"></a>
            <ul class="navMenu">
                <li class="navItem"><a href="../index.html" class="linksNavegacion">HOME</a></li>
                <li class="navItem"><a href="precios.html" class="linksNavegacion">PRECIOS</a></li>
                <li class="navItem"><a href="integrantes.html" class="linksNavegacion">INTEGRANTES</a></li>
                <li class="navItem"><a href="contacto.html" class="linksNavegacion">CONTACTOS</a></li>
                <li class="navItem"><a href="testimonios.html" class="linksNavegacion">TESTIMONIOS</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <section id="backgroundPrincipalPrecios">
        <!-- esta section contiene el background principal que se puede observar en figma, se aplicara al proyecto con css en el futuro -->
    </section>
    <main>
        <section class="main">
            <section class="preciosSection">
                <div class="hS">
                    <h1>¿Cuanto Cuestan Nuestros Servicios?</h1>
                </div>
                <p>
                Los precios de Swift solutions están a la vanguardia del desarrollo web, desarrollamos un sistema interno dentro de nuestra empresa en donde cada uno de nuestros integrantes trabajan como freelancers independientes.

                Ellos hacen parte de cada uno de los proyectos de Swift solutions, pero también pueden trabajar en otros proyectos por fuera de Swift solutions. Esto nos permite que por cada proyecto que se haga va a con llevar un menor costo para el cliente.
                    
                </p>
                <div class="gridPreciosContainer">
                    <div class="gridPrecios">
                        <div class="head bordes">Precios</div>
                        <div class="pagina1 bordes">Pagina personal</div>
                        <div class="precio1 bordes">$ 12.000</div>

                        <div class="pagina2 bordes">Pagina empresa</div>
                        <div class="precio2 bordes">$25.000</div>

                        <div class="pagina3 bordes">E-Commerce</div>
                        <div class="precio3 bordes">$45.000</div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <footer>
        <section>
            <div>
                <img src="../image/svg.svg" alt="imagen-logo" class="logoEmpresa filtro">
            </div>
            <div>
                <span> &#169; 2022 Pedro Comas<span class="footerHidden">,Todos los derechos reservados.</span></span>
            </div>
        </section>
    </footer>
    <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>