<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Html, css, Web deveploment, Swift solutions, desarrolladores web, Testimonios Swift solutions, soluciones tecnológicas">
    <meta name="description" content="Swift solutions es una empresa de desarrolladora web que se dedica a  ofrecerle soluciones a pequeñas pymes">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,700&family=Roboto:wght@100;400;700&family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
   
    <title>Swift solutions - Testimonios</title>
</head>
<body>
    <header>
        <nav class="navBar">
            <img src="../image/svg.svg" alt="imagen logo" class="logoEmpresa">
            <ul class="navMenu">
                <li class="navItem"><a href="../index.html" class="linksNavegacion">HOME</a></li>
                <li class="navItem"><a href="precios.html" class="linksNavegacion">PRECIOS</a></li>
                <li class="navItem"><a href="integrantes.html" class="linksNavegacion">INTEGRANTES</a></li>
                <li class="navItem"><a href="contacto.html" class="linksNavegacion">CONTACTOS</a></li>
                <li class="navItem"><a href="testimonios.html" class="linksNavegacion">TESTIMONIOS</a></li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <main class="cont-inteMain">
        <section class="mainContInte">
            <section class="testimonioSection">
                <div class="hS">
                    <h1>Testimonios de empresas que gracias a Swift solutions han exponenciando su presencia online</h1>
                </div>
                <section class="sunshine">
                    <h2>Sunshine Beauty</h2>
                    <img src="../image/empresas imagenes/020052.webp" alt="Dueña de la empresa" class="dueña">
                    <span>Miren Lorente</span>
                    <p>“Soy una emprendedora desde hace mas de 5 años, tengo mi tienda de cosméticos que nos costo a abrir entre yo y hermana que en paz descanse, siempre hubo puntos altos y bajos a lo largo de esos años, pero desde la ayuda que recibimos de Swift solutions las ventas no han hecho más que crecer y estamos a punto de abrir un nuevo local. Por ello agradezco con todo mi corazón a Swift solutions a llevar a nuestra empresa al siguiente nivel.”
                    </p>
                    <div class="gridContainerTes">
                        <img src="../image/empresas imagenes/vtp.jpg" alt="Pagina creada para Miren Lorente" class="pri gridImagenes">
                        <img src="../image/empresas imagenes/vp.jpg" alt="Pagina creada para Miren Lorente" class="seg gridImagenes">
                        <img src="../image/empresas imagenes/v.jpg" alt="Pagina creada para Miren Lorente" class="ter gridImagenes">
                    </div>
                </section>
                <section class="sunshine">
                    <h2>Style flow</h2>
                    <img src="../image/empresas imagenes/020061.webp" alt="Dueña de la empresa" class="dueña">
                    <span>Jose Jesus Rosales</span>
                    <p>"Siempre he sido un apasionado por el deporte desde muy chico mis padres ya me veían levantado las pesas de mi padre, desde ahí continue siempre siendo una persona físicamente activa, y siempre algo que nunca termino de convencer fue la indumentaria disponible para el deporte y el gimnasio así que decidí por crear mi propia marca. 
                        
                    Junto a la ayuda de Swift solutions pude lanzar mi producto de una forma rápida y sencilla, y los resultados salieron de inmediato, para la primera semana ya se había vendido todo nuestro stock! ."
                    </p>
                    <div class="gridContainerTes">
                        <img src="../image/empresas imagenes/2.jpg" alt="Pagina creada para Jose Jesus Rosales" class="pri1 gridImagenes">
                        <img src="../image/empresas imagenes/1.jpg" alt="Pagina creada para Jose Jesus Rosales" class="seg2 gridImagenes">
                        <img src="../image/empresas imagenes/3.jpg" alt="Pagina creada para Jose Jesus Rosales" class="ter3 gridImagenes">
                    </div>
                </section>
                <section class="sunshine">
                    <h2>Urban Electric</h2>
                    <img src="../image/empresas imagenes/020136.webp" alt="Dueña de la empresa" class="dueña">
                    <span>Teresa Cardenas</span>
                    <p>"Llevo trabajando como electricista desde hace mas de 6 años y siempre ha sido difícil ser parte de un rubro en donde la enorme mayoría de personas que hacen parte de el son hombres, te juzgan, te menosprecian, pero logre que nada de ello me afectara.
                    
                    Pensé mucho de qué forma podía expandir mis servicios a más personas y me encontré con Swift solutions, y gracias a ellos pude expandir mis horizontes laborales y lograr crear mi propia empresa donde ofrecemos servicios electicos y electrónicos."
                    </p>
                    <div class="gridContainerTes">
                        <img src="../image/empresas imagenes/4.jpg" alt="Pagina creada para Teresa Cardenas" class="pri5 gridImagenes">
                        <img src="../image/empresas imagenes/5.jpg" alt="Pagina creada para Teresa Cardenas" class="seg6 gridImagenes">
                        <img src="../image/empresas imagenes/6.jpg" alt="Pagina creada para Teresa Cardenas" class="ter7 gridImagenes">
                    </div>
                </section>
                <section class="sunshine">
                    <h2>Glamour furniture</h2>
                    <img src="../image/empresas imagenes/020014.webp" alt="Dueña de la empresa" class="dueña">
                    <span>Coral De-La-Fuente</span>
                    <p>"Mi familia tiene una historia como vendedores de muebles de una excelente calidad, con la expansión de estos aspectos tecnológicos como el internet, ¿si tenemos una página?, eso fue y hace más de 10 años, y debo de ser sincero esa fue la primera vez tratamos de tener una y fue una experiencia horrorosa.
                    
                    Después de mucho tiempo tratamos de conseguir nuevamente una pagina web y nos encontramos Swift solutions, y gracias a ellos no solo mejoraron nuestras ventas si no que ahora logramos llegar más fácilmente a nuestro comprador predilecto."
                    </p>
                    <div class="gridContainerTes">
                        <img src="../image/empresas imagenes/7.jpg" alt="Pagina creada para Coral De-La-Fuente" class="pri gridImagenes">
                        <img src="../image/empresas imagenes/8.jpg" alt="Pagina creada para Coral De-La-Fuente" class="seg gridImagenes">
                        <img src="../image/empresas imagenes/9.jpg" alt="Pagina creada para Coral De-La-Fuente" class="ter gridImagenes">
                    </div>
                </section>    
            </section>
        </section>
    </main>
    <footer>
        <section>
            <div>
                <img src="../image/svg.svg" alt="imagen-logo" class="logoEmpresa filtro">
            </div>
            <div>
                <span> &#169; 2022 Pedro Comas<span class="footerHidden">,Todos los derechos reservados.</span></span>
            </div>
        </section>
    </footer>
    <script type="text/javascript" src="../js/main.js"></script>
</body>
</html>