<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Html, css, Web deveploment, Swift solutions">
    <meta name="description" content="Swift solutions es una empresa de desarrolladora web que se dedica a  ofrecerle soluciones a pequeñas pymes">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&family=Noto+Sans:ital,wght@0,400;0,700;1,700&family=Roboto:wght@100;400;700&family=Source+Sans+Pro&family=Source+Serif+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/main.css">
   
    <title>Swift solutions - Testimonios</title>
</head>
<body>
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label">
        <span></span>
    </label>
    <header>
        <nav>
            <img src="../image/svg.svg" alt="imagen-logo" class="logoEmpresa">
            <ul>
                <li><a href="../index.html" class="linksNavegacion">HOME</a></li>
                <li><a href="precios.html" class="linksNavegacion">PRECIOS</a></li>
                <li><a href="integrantes.html" class="linksNavegacion">INTEGRANTES</a></li>
                <li><a href="contacto.html" class="linksNavegacion">CONTACTOS</a></li>
                <li><a href="testimonios.html" class="linksNavegacion">TESTIMONIOS</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="main">
            <section class="testimonioSection">
                <div class="hS">
                    <h1>Testimonios de empresas que gracias a Swift solutions han exponenciando su presencia online</h1>
                </div>
                <section class="sunshine">
                    <h2>Sunshine Beauty</h2>
                    <img src="../image/empresas imagenes/020052.webp" alt="Dueña de la empresa" class="dueña">
                    <span>Miren Lorente</span>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur dolorem tempora nisi iusto cum, quaerat illum recusandae ut, possimus in necessitatibus quibusdam iste fugit voluptatum sit! Itaque cum debitis tempora.

                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora perspiciatis laborum culpa ullam unde earum voluptatum eaque recusandae possimus reiciendis pariatur autem aut explicabo mollitia, in dignissimos aperiam temporibus omnis?.
                    </p>
                    <div class="gridContainerTes">
                        <img src="../image/empresas imagenes/vtp.jpg" alt="imageses de ejemplo" class="pri gridImagenes">
                        <img src="../image/empresas imagenes/vp.jpg" alt="imageses de ejemplo" class="seg gridImagenes">
                        <img src="../image/empresas imagenes/v.jpg" alt="imageses de ejemplo" class="ter gridImagenes">
                    </div>
                </section>
                <section class="sunshine">
                    <h2>Style flow</h2>
                    <img src="../image/empresas imagenes/020061.webp" alt="Dueña de la empresa" class="dueña">
                    <span>Jose Jesus Rosales</span>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur dolorem tempora nisi iusto cum, quaerat illum recusandae ut, possimus in necessitatibus quibusdam iste fugit voluptatum sit! Itaque cum debitis tempora.

                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora perspiciatis laborum culpa ullam unde earum voluptatum eaque recusandae possimus reiciendis pariatur autem aut explicabo mollitia, in dignissimos aperiam temporibus omnis?.
                    </p>
                    <div class="gridContainerTes">
                        <img src="../image/empresas imagenes/2.jpg" alt="imageses de ejemplo" class="pri1 gridImagenes">
                        <img src="../image/empresas imagenes/1.jpg" alt="imageses de ejemplo" class="seg2 gridImagenes">
                        <img src="../image/empresas imagenes/3.jpg" alt="imageses de ejemplo" class="ter3 gridImagenes">
                    </div>
                </section>
                <section class="sunshine">
                    <h2>Urban Electric</h2>
                    <img src="../image/empresas imagenes/020136.webp" alt="Dueña de la empresa" class="dueña">
                    <span>Teresa Cardenas</span>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur dolorem tempora nisi iusto cum, quaerat illum recusandae ut, possimus in necessitatibus quibusdam iste fugit voluptatum sit! Itaque cum debitis tempora.

                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora perspiciatis laborum culpa ullam unde earum voluptatum eaque recusandae possimus reiciendis pariatur autem aut explicabo mollitia, in dignissimos aperiam temporibus omnis?.
                    </p>
                    <div class="gridContainerTes">
                        <img src="../image/empresas imagenes/4.jpg" alt="imagenes de ejemplo" class="pri5 gridImagenes">
                        <img src="../image/empresas imagenes/5.jpg" alt="imagenes de ejemplo" class="seg6 gridImagenes">
                        <img src="../image/empresas imagenes/6.jpg" alt="imagenes de ejemplo" class="ter7 gridImagenes">
                    </div>
                </section>
                <section class="sunshine">
                    <h2>Glamour furniture</h2>
                    <img src="../image/empresas imagenes/020014.webp" alt="Dueña de la empresa" class="dueña">
                    <span>Coral De-La-Fuente</span>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur dolorem tempora nisi iusto cum, quaerat illum recusandae ut, possimus in necessitatibus quibusdam iste fugit voluptatum sit! Itaque cum debitis tempora.

                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora perspiciatis laborum culpa ullam unde earum voluptatum eaque recusandae possimus reiciendis pariatur autem aut explicabo mollitia, in dignissimos aperiam temporibus omnis?.
                    </p>
                    <div class="gridContainerTes">
                        <img src="../image/empresas imagenes/7.jpg" alt="imagenes de ejemplo" class="pri gridImagenes">
                        <img src="../image/empresas imagenes/8.jpg" alt="imagenes de ejemplo" class="seg gridImagenes">
                        <img src="../image/empresas imagenes/9.jpg" alt="imagenes de ejemplo" class="ter gridImagenes">
                    </div>
                </section>    
            </section>
        </section>
    </main>
    <footer>
        <section>
            <div>
                <img src="../image/svg.svg" alt="imagen-logo" class="logoEmpresa filtro">
            </div>
            <div>
                <span> &#169; 2022 Pedro Comas, Todos los derechos reservados.</span>
            </div>
        </section>
    </footer>
</body>
</html>